*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    position: relative;
    padding: 10px 10px;
}
.left-options, .right-options{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.header-option{
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
    color: #5eb850;
    text-shadow: .4px .4px #5eb850;
}
.header-option.login{
    border: 2px solid #5eb850;
    padding : 10px 25px;
}
.header-option.register{
    text-decoration: underline;

}
.header-option:hover{
    cursor: pointer;
}
.header-logo{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left : 42%;
}
.header-logo img{
    width: 170px
}
.logo-heading{
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 10px;
}
.logo-heading p{
    margin: 0;
}
.logo-subheading{
    font-size: 12px;
    color: #5eb850;
    text-shadow: .4px .4px #5eb850;
}
.craousal-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px
}
.craousal-container img{
    width: 100%;
}
.banner-overlay{
    position: absolute;
    left: 12%;
    top: 13%;
    width: 200px;
}
.banner-preheading{
    color : #212529;
    font-size: 20px;
    font-weight: 800;
    text-shadow: .4px .4px #212529;
    padding: 10px 0px;
    font-weight: 100;
}
.banner-heading{
    font-size: 40px;
    font-weight: 800;
    color: whitesmoke;
    padding-bottom: 20px;
}
.fas.fa-search{
    opacity: .7;
}
.input-date{
    font-size: 10px;
    opacity: .7;
}
.banner-searchBar{
    background-color: white;
    width: 700px;
    display: flex;
}
.input-label{
    font-size: 10px;
    color: #5eb850;
    text-shadow: .4px .4px #5eb850;
}
.search-element{
    width: 33%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-right: 1px solid black;
}
.search-element:hover{
    cursor: pointer;
}
.search-element input{
    border: none;
    border-bottom: 1px solid black;
    opacity: 0.5;
    padding: 0;
    margin: 0;
}
.search-element input:active{
    border : none;
}
.input-bar{
    padding: 10px;
}
.search-element.main-search{
    font-size: 30px;
    color: white;
    width: 100px;
    background-color: black;

}
.header-stamp{
    text-align: center;
    color: #5eb850;
    border: 1px solid #5eb850;
    border-radius: 50%;
    width: 80px;
    padding: 10px;
    position: absolute;
    left: 12%;
    top: 5%;
    font-size: 10px;
    font-weight: 300;
    transform: rotate(-30deg);
}

.what-we-do{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.project-headline{
    color: #5eb850;
    text-shadow: .4px .4px #5eb850;
    font-size: 50px;
    font-weight: 800;
    padding: 15px 100px;
}
.project-subheadline{
    color : #212529;
    font-size: 20px;
    font-weight: 200;
    text-shadow: .4px .4px #212529;
    padding: 10px 0px 30px 0px;
}
.project-location{
    background: url('./Dev/location/BG.jpg');
    background-position: center;
    background-size: cover; 
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 50px;
}
.project-cities{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 40px 40px;
}
.location{
    width: 23%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.location-background{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover; 
}
.location-name{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80%;
    height: 80%;
    border: 2px solid transparent;
}
.location:hover > .location-name{
    border: 2px solid white;
    cursor: pointer;
    transition-duration: 1s;
}
.project-location-footer{
    background-image: url('./Dev/Banner_2.jpg');
    background-position: center;
    background-size: contain; 
    width: 100%;
    height: 25vh;
    position: relative;
}
.location-footer-content{
    display: flex;
    justify-content: space-around;
    color: white;
}
.olive-features{
    width: 20%;
    font-size: 30px;
    text-align: center;
    padding: 20px 0px;
}
.feature-heading{
    font-size: 30px;
    font-weight: 800;
}
.feature-detail{
    color: #242423;
    font-size: 18px;
}
.why-olive{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
}
.why-olive-subheading{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 40px 100px;
}
.why-olive-reasons{
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.why-olive-reasons img{
    width: 100%;
}
.reason-tag{
    width: 85%;
    text-align: center;
    padding: 20px 0px;
    font-size: 15px;
    font-weight: 600;
}

.let-us-delight-you{
    width: 100%;
    padding: 40px 60px 100px 60px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.delight-head{
    width: 100%;
    height: 120vh;
    padding: 0px 60px;
    position: relative;
}   
.project-delight{
    width: 100%;
    padding: 40px 0px;
    display: flex;
    justify-content: flex-start;
    position: relative;
}
.project-delight.overlay{
    width: 100%;
    padding: 40px 0px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 45.3%;
    right: 5%;
}

.project-delight img{
    width: 65%;
    height: 400px;
}
.project-delight.overlay img{
    width: 60%;
    height: 400px;
}
.delight-features{
    position: absolute;
    top: 27%;
    left: 50%;
    background-color: white;
    padding: 80px 100px 80px 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
}
.delight-features.overlay{
    position: absolute;
    top: 45%;
    left: 20%;
    background-color: white;
    padding: 80px 100px 60px 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
}

.delight-features h4{
    margin: 0;
}
.delight-features ul{
    list-style: none;
    font-size: 10px;
    margin-left: -30px;
}

.blog{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}
.blogs-posts{
    width: 100%;
    display: flex;
    padding: 20px 40px;
    justify-content: center;
}
.blog-post{
    width: 25%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0px 20px;
}
.blog-post img{
    width : 100%;
}
.blog-tag{
    background-color: white;
    width: 100%;
    padding: 20px 40px;
    text-shadow:.4px .4px grey;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
}
.read-now{
    background-color: white;
    width: 100%;
    font-size: 10px;
    padding: 10px 40px 30px 5px;
    text-shadow:.4px .4px grey;
    color: #5eb850;
    text-shadow: .4px .4px #5eb850;
    
}
.testimonials{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px 150px;
    position: relative;
}
.feedback{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: flex-end;
}
.comment{
    width: 50%;
    color: whitesmoke;
    font-size: 12px;
    padding: 100px 100px 100px 50px;
    background-color: #161a1d;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.commenter-name{
    font-size: 20px;
    font-weight: 800;
}
.testimonial-stamp{
    text-align: center;
    color: #5eb850;
    border: 1px solid #5eb850;
    border-radius: 50%;
    width: 80px;
    padding: 10px;
    position: absolute;
    left: 15%;
    top: 15%;
    font-size: 10px;
    font-weight: 300;
    transform: rotate(-30deg);
}
.commenter-place{
    font-size: 20px;
    font-weight: 400;
}
.feedback img{
    width: 50%;
    height: 100%;
}
.footer{
    width: 100%;
    height: 60vh;
    background-image: url('./Dev/Cityscape_Footer.png');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 700px 200px;
    background-color: #242423;
    padding: 70px 100px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.footer ul{
    list-style: none;
    width: 15%;
    padding: 0;
    margin: 0;
}
.footer li{
    font-size: 9px;
    color: white;
    padding: 5px;
}
.column.header{
    font-weight: 800;
    color: #5eb850;
    text-shadow: .4px .4px #5eb850;
}